* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */

* {
    font-family: 'Montserrat', sans-serif;
}

img {
    width: 100%;
}

.flex {
    display: flex;
}

a {
    text-decoration: none;
    color: #646464;
}

h2,
h3,
h4 {
    color: white;
}

/* MAIN */

/* MACRO LAYOUT */

main {
    width: 100%;
    height: calc( 100vh - 100px);
    color: #646464;
}

.left-nav-col {
    width: 250px;
    height: 100%;
    overflow-y: hidden;
    flex-direction: column;
    background-color: black;
    padding-top: 1rem;
}

.right-main-col {
    width: calc( 100% - 250px);
    height: 100%;
    overflow-y: auto;
    background-color: #141922;
}

/* LEFT NAVIGATION AREA */

.logo {
    width: 190px;
    padding: 2rem 1rem;
}

.small-logo {
    display: none;
}

.playlist-area {
    flex-grow: 1;
    padding-left: 1rem;
    overflow-y: auto;
    min-height: 40%;
}

.playlist-title {
    padding-left: 1rem;
}

.playlist-area li {
    list-style-type: none;
    margin: 0.8rem 0;
}

.download-area {
    align-self: flex-end;
    width: 100%;
    padding: 1rem;
}

.download-area hr {
    margin: 0.5rem 0;
}

.icon-box {
    margin: 0.5rem 1rem;
    height: 35px;
}

.icon-box h4 {
    display: inline-block;
}

.border-left {
    border-left: 3px solid #adff2e;
    padding-left: 13px;
    margin-left: 0;
    padding-top: 6px;
    padding-bottom: 35px;
}

.nav-icon {
    width: 25px;
    display: inline-block;
    vertical-align: middle;
}

.left-nav-col .nav-icon:not(.border-left) {
    filter: opacity(0.6);
}

.text-hover-effect:hover {
    color: white;
    cursor: pointer;
}

.text-hover-effect:hover .nav-icon {
    color: white;
    filter: opacity(1.0);
}

.download-area h4 {
    display: inline-block;
    margin-left: 8px;
}

.download-area > .nav-icon {
    background-color: gray;
    height: 20px;
    width: 20px;
    border-radius: 20px;
    overflow: hidden;
    margin-left: 5px;
}


.plus-big-icon {
    vertical-align: middle;
    margin-right: 0.5rem;
}

/* RIGHT COLUMN MAIN CONTENT*/

/* UPGRADE BOX */

.upgrade-box {
    height: 130px;
    background-color: rgba(0, 0, 0, 0.5);
    align-items: center;
    justify-content: end;
    padding-right: 40px;
    position: fixed;
    width: calc( 100% - 250px);
    top: 0;
    right: 0;
    z-index: 3;
}

.upgrade-button {
    padding: 1rem 3rem;
    border: 2px solid white;
    border-radius: 30px;
}

.upgrade-button a {
    color: white;
    text-transform: uppercase;
}

.upgrade-button:hover {
    transform: scale(1.2);
    cursor: pointer;
}

/* MAIN CONTAINER */

.main-container {
    overflow-y: auto;
    padding-top: 140px;
    padding-bottom: 80px;
}

/* TOP PART OF THE MAIN SECTION */

.list-type ul {
    justify-content: center;
    font-size: 0.8rem;
}

.list-type li {
    margin-right: 1rem;
    margin-bottom: 1rem;
    list-style-type: none;
    text-transform: uppercase;
}

.evidenza-hr {
    width: 30px;
    margin-left: 30px;
    border: 1px solid #adff2e;
    margin-top: 4px;
}

/* RECENTLY PLAYED SECTION */

.cols-container {
    margin: auto;
    width: 98%;
    max-width: 1500px;
    padding-top: 0.5rem;
}

.main-section-albums h2 {
    padding-top: 2rem;
    padding-bottom: 0.5rem;
    padding-left: 0.5rem;
    margin: 0 auto;
    width: 98%;
    max-width: 1500px;
}

.gray-text {
    padding-left: 0.5rem;
    padding-bottom: 1rem;
    margin: 0 auto;
    width: 98%;
    max-width: 1500px;
    display: block;
    font-size: 0.8rem;
}

.col {
    width: calc((100%/6) - 1rem);
    margin-right: 1rem;
    color: #646464;
}

.card {
    flex-direction: column;
    align-items: center;
}

.album-img {
    width: 100%;
    position: relative;
}

.album-text {
    text-align: center;
}

.overlay-hover-effect {
    color: white;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

.col:hover .card {
    cursor: pointer;
}

.card:hover .album-img {
    filter:grayscale(10);
}

.card:hover .overlay-hover-effect {
    display: block;
}

/* ARTISTI PIU POPOLARI SECTION */

.circle-img {
    height: 100%;
    width: 100%;
    border-radius: 130px;
    vertical-align: middle;
    text-align: center;
}

/* FOOTER */

footer {
    width: 100%;
    height: 100px;
    color: white;
    background-color: #282828;
}

.footer-content {
    height: 100%;
    align-items: center;
    font-size: 0.8rem;
}

.footer-content a:hover {
    color: white;
}

.underline-text:hover {
    text-decoration: underline;
}

.third-part-player a {
    filter: opacity(1);
}

.footer-content ul {
    align-items: center;
}

.footer-content li {
    margin-right: 0.4rem;
}

.first-part-player {
    width: 25%;
    padding-left: 0.5rem;    
}

.second-part-player {
    flex-grow: 1;
    height: 100%;
    width: 40%;
}

.second-part-player ul {
    justify-content: center;
}

.third-part-player {
    width: 25%;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.third-part-player a {
    color: white;
}

.third-part-player ul {
    justify-content: flex-end;
}

.footer-content li {
    list-style-type: none;
}

.small-player-image {
    width: 50px;
    display: inline-block;
}

/* CENTRAL SECTION OF THE PLAYER */

/* TOP PART */
 
.top-central-player {
    align-items: flex-start;
    justify-content: center;
    padding-top: 1rem;
}

.top-central-player a {
    margin-right: 1rem;
    color: white;
}

.play-music:hover {
    transform: scale(1.5);
    cursor: pointer;
}

/* BOTTOM PART */

.bottom-central-player {
    justify-content: center;
    padding-top: 1rem;
}

.bottom-central-player a {
    color: white;
}

.player-controller {
    width: 100%;
}

.time-line {
    width: 60%;
}

.progress-bar {
    height: 5px;
    background-color: #5a5a5a;
    border-radius: 20px;
}

.progressed-time {
    height: 100%;
    width: 20%;
    background-color: #c1c1c1;
    border-radius: 20px;
}

.green-time {
    display: none;
    height: 100%;
    width: 20%;
    background-color: greenyellow;
    border-radius: 20px;
    position: relative;
}

.progression-circle {
    position: absolute;
    bottom: -5px;
    left: 90%;
}

.progress-bar:hover .green-time {
    display: block;
}

.progress-bar:hover .progressed-time {
    display: none;
}



/****** 
RESPONSIVE
*******/


/* DISPLAY SIZE MD */

@media all and (max-width:1100px) {

    .list-type {
        width: 77%;
        margin: auto;
    }

    .list-type ul {
        flex-wrap: wrap;
        justify-content: center;
    }

    .cols-container {
        flex-wrap: wrap;
        justify-content: flex-start;
    }

    .col {
        width: calc((100%/4) - 1rem);
        margin: 1rem 0.4rem;
    }
    
}


/* DISPLAY SIZE S */

@media all and (max-width: 700px) {

    .col {
        width: calc((100%/2) - 1rem);
        margin: 1rem 0.4rem;
    }
}

/* DISPLAY SIZE XS */

@media all and (max-width: 600px) {
    
    .left-nav-col {
        width: 60px;
        padding-top: 0;
    }

    .left-nav-col h4, span {
        display: none;
    }

    .logo {
        width: 60px;
        padding: 0.5rem 1rem;
    }

    .big-logo {
        display: none;
    }

    .small-logo {
        display: block;
    }

    .icon-box {
        height: 35px;
    }

    .right-main-col {
        width: calc(100% - 60px);
    }

    .upgrade-box {
        width: calc(100% - 60px);
    }

    .playlist-title,
    .playlist-area {
        display: none;
    }

    .download-area {
        padding: 1rem;
        margin-top: 660px;
    }

    .fa-2x {
        font-size: 1rem;
    }

    .footer-content h4 {
        font-size: 0.6rem;
    }

    .footer-content li {
        margin-right: 0.2rem;
    }

}

