* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* DEBUG */

.right-main-col {
    background-color: bisque;
}

footer {
    background-color: lightcoral;
}

/* COMMON */

* {
    font-family: 'Montserrat', sans-serif;
}

img {
    width: 100%;
}

.flex {
    display: flex;
}

a {
    text-decoration: none;
    color: #646464;
}

h2,
h3,
h4 {
    color: white;
}

/* MAIN */

/* MACRO LAYOUT */

main {
    width: 100%;
    height: calc( 100vh - 120px);
    color: #646464;
}

.left-nav-col {
    width: 200px;
    height: 100%;
    overflow-y: hidden;
    flex-direction: column;
    background-color: black;
}

.right-main-col {
    width: calc( 100% - 200px);
    height: 100%;
}

/* LEFT NAVIGATION AREA */

.logo {
    width: 180px;
    padding: 2rem 1rem;
}

.playlist-area {
    flex-grow: 1;
    padding: 1rem;
    overflow-y: auto;
}

.playlist-area li {
    list-style-type: none;
    margin: 0.8rem 0;
}

.download-area {
    align-self: flex-end;
    width: 100%;
    padding: 1rem;
}

.download-area hr {
    margin: 1rem 0;
}

.icon-box {
    margin: 0.5rem 1rem;
    height: 35px;
}

.icon-box h4 {
    display: inline-block;
}

.border-left {
    border-left: 3px solid #adff2e;
    padding-left: 13px;
    margin-left: 0;
    padding-top: 6px;
    padding-bottom: 35px;
}

.nav-icon {
    width: 25px;
    display: inline-block;
    vertical-align: middle;
}

.nav-icon:not(.border-left .nav-icon) {
    filter: opacity(0.6);
}

.text-hover-effect:hover {
    color: white;
    cursor: pointer;
}

.text-hover-effect:hover .nav-icon {
    color: white;
    filter: opacity(1.0);
}

.download-area h4 {
    display: inline-block;
    margin-left: 8px;
}

.plus-big-icon {
    vertical-align: middle;
    margin-right: 0.5rem;
}

/* FOOTER */

footer {
    width: 100%;
    height: 120px;
}


