* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* DEBUG */


.left-nav-col {
    background-color: lightblue;
}

.right-main-col {
    background-color: bisque;
}

footer {
    background-color: lightcoral;
}

/* COMMON */

* {
    font-family: 'Montserrat', sans-serif;
}

img {
    width: 100%;
}

.flex {
    display: flex;
}

/* MAIN */

/* MACRO LAYOUT */

main {
    width: 100%;
    height: calc( 100vh - 80px);
}

.left-nav-col {
    width: 220px;
    height: 100%;
    overflow-y: hidden;
}

.right-main-col {
    width: calc( 100% - 220px);
    height: 100%;
}

/* LEFT NAVIGATION AREA */

.logo {
    width: 180px;
    padding: 1rem;
}


/* FOOTER */

footer {
    width: 100%;
    height: 80px;
}


